<!-- To modify this, go to https://giscus.app and regenerate the code -->
<script src="https://giscus.app/client.js"
        data-repo="MaxwellJK/maxwelljk.github.io"
        data-repo-id="R_kgDOOMCXQQ"
        data-category="Q&A"
        data-category-id="DIC_kwDOOMCXQc4DBuoP"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>